@{
    var moduleId = ViewBag.ModuleId as Guid?;
}

<form id="createTaskForm">
    <input type="hidden" name="moduleId" value="@moduleId" />
    
    <div class="mb-3">
        <label for="name" class="form-label">Task Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="sortOrder" class="form-label">Sort Order</label>
            <input type="number" class="form-control" id="sortOrder" name="sortOrder" value="1" min="1">
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-check form-switch mt-4 pt-2">
                <input class="form-check-input" type="checkbox" id="isErd" name="isErd">
                <label class="form-check-label" for="isErd">Is ERD Task?</label>
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Create Task</button>
    </div>
</form>