<div class="modal fade" id="viewTaskModal" tabindex="-1" aria-labelledby="viewTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewTaskModalLabel">Task Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Task Name:</label>
                            <div id="viewTaskName" class="fs-5"></div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label fw-bold">Description:</label>
                            <div id="viewTaskDescription" class="border p-3 bg-light rounded"></div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label fw-bold">Sort Order:</label>
                            <div id="viewTaskSortOrder" class="fs-5"></div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label fw-bold">Is ERD:</label>
                            <div id="viewTaskIsErd" class="fs-5"></div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label fw-bold">Status:</label>
                            <div id="viewTaskStatus" class="fs-5"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
